
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #575555;  
  color: #fff;
  overflow: hidden;
  height: 100vh;
}

.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #0f0f0f;  
}

.logo {
  position: absolute;
  bottom: 30%; 
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: auto;
  opacity: 0.95;
}

.content {
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.5px;
}
