* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #575555; 
  color: #fff;
  overflow: hidden;
  height: 100vh;
}

.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #0f0f0f; 
}

.tradingview-widget-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; 
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.logo {
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: auto;
  opacity: 0.95;
  z-index: 2;
}

.content {
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.5px;
  z-index: 2;
}

.footer-name {
  position: absolute;
  bottom: 25px; 
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  color: #ffffff;
  opacity: 0.7; 
  z-index: 2;
  font-weight: 400;
}
